*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --first-color: #482424;
    --second-color: #633231;
    --third-color: #FF7270;
    --white-color: #fff;
}

body{
    display: flex;
    justify-content: center;
}

.main_container{
    height: 100vh;
    width: 1500px;
    font-family: Trueno, Roboto , Poppins ;
}

.header{
    height: 100%;
    width: 100%;  
}

.nav{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav_one{
    flex: 1.2;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    font-size: 11px;
    font-weight: 300;
    padding: 0 200px;
}

.nav_one>ul{
    display: flex;
    height: 100%;
    gap: 10px;
}

.nav_one>ul>li{
    display: inline-flex;
    height: 100%;
    padding: 0 10px;
    align-items: center;
    cursor: pointer;
}

.nav_one>ul>li:hover{
    background-color: var(--third-color);
}

.nav_two{
    flex: 2;
    padding: 0 200px;
    background-color: var(--second-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 300;
    list-style: none;

}

.nav_two>img{
    height: 20px;
    width: 150px;
    object-fit: cover;
}

.nav_two>ul{
    display: flex;
    gap: 10px;
    height: 100%;
}

.nav_two>ul>li{
    display: inline-flex;
    height: 100%;
    padding: 0 10px;
    align-items: center;
    cursor: pointer;
}

.nav_two>ul>li:hover{
    border-bottom: 4px solid var(--third-color);

}

.head_display{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #F0EFEE;
    display: flex;
    gap: 80px;
}

.shoes{
    flex: 1;
    background-image: url('./images/sneakers.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.shoes_title{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    gap: 10px;
}

.shoes_title>span:nth-child(1){
    font-size: 22px;
    color: var(--first-color);
}

.shoes_title>h1{
    font-size: 60px;
    color: var(--second-color);
    font-weight: 900;
}

.shoes_title>h2{
    font-size: 40px;
    color: var(--third-color);
    font-weight: 800;
}

.shoes_title>span:nth-child(4){
    width: 52%;
    font-size: 14px;
    color: #bbbbbb;
    margin-bottom: 20px;
}

.shoes_title>p>a{
    text-decoration: none;
    padding: 10px 35px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--third-color);
    font-size: 14px;
}

.shoes_title>p>a:hover{
    background-color: var(--second-color);
}

.shoes_gallery{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery_container{
    min-width: 900px;
    height: 80%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.right_shoes{
    width: 50%;
    height: 100%;
    background-image: url('./images/galleryOne.png');
    background-size: cover;
    padding-top: 30px;
    position: relative;
}

.Discover{
    height: 80px;
    width: 100%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.View_collection{
    width: 100%;
    position: absolute;
    bottom: 30px;
    right: 0;
    display: grid;
    place-items: center;
}

.View_collection>a{
    padding: 10px 30px;
    background-color: #42D9CE;
    color: #000;
    text-decoration: none;   
    text-transform: uppercase; 
    font-size: 13px;
    font-weight: 700;
}

.View_collection>a:hover{
    box-shadow: rgba(2, 245, 233, 0.12) 0px 2px 4px 0px, rgba(21, 243, 243, 0.32) 0px 2px 16px 0px;
}


.left_shoes{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left_upper{
    flex: 1;
    background-color: var(--third-color);
    background-image: url('./images/galleryTwo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.left_title{
    height: 120px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.left_title>span{
    font-size: 26px;
}

.left_title>a{
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    background-color: #000000a6;
    font-size: 13px;
    font-weight: 700;
}

.left_title>a:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.left_lower{
    flex: 1;
    display: flex;
    gap: 20px;
}

.left_lowerBox{
    flex: 1;
    background-image: url('./images/galleryThree.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 5px;
    padding-bottom: 15px;
}

.left_lowerBox>span{
    font-size: 26px;
    color: #fff;
    font-weight: 300;
}

.left_lowerBox>h1{
    color: var(--third-color);
}

.left_lowerBox2{
    flex: 1;
    background-image: url('./images/galleryFour.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 83px;
    background-color: #CECECE;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    color: #fff;
}

.left_lowerBox2>span{
    font-size: 26px;
    color: #666565;
}

.shoes_cards{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.card_container{
    height: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.card_container>ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 24px;
    font-weight: 300;
    color: #bbbbbb;
}

.card_container>ul>li:hover{
    color: var(--third-color);
    font-weight: 600;
}

.card_container>ul>li:nth-child(1){
    color: var(--third-color);
    font-weight: 600;
}

.card_wrapper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card{
    height: 280px;
    width: 200px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card_image{
    height: 120px;
    width: 100%;
}

.card_image>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.title{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    gap: 3px;
}

.brand_logo{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.brand_logo>ul{
    display: flex;
    gap: 50px;
}

.brand_logo>ul>li{
    height: 70px;
    width: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.brand_logo>ul>li>img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.Rating{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('./images/rate.png');
    background-size: cover;
    position: relative;
}

.rating_bg{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--second-color);
    opacity: 0.9;
}

.rating_container{
    min-width: 900px;
    height: 100%;
}


.latest_News{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest_News_container{
    min-width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 60px;
}

.news_div{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
}

:is(.news_cardOne, .news_cardTwo, .news_cardThree){
    flex: 1;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 10px;
    padding-bottom: 15px;
    gap: 5px;
    color: #fff;

}

.news_cardOne{
    background-image: url('./images/ln_01.png');
}

.news_cardTwo{
    background-image: url('./images/ln_02.png');
}

.news_cardThree{
    background-image: url('./images/ln_03.png');
}

.Help{
    height: 150px;
    width: 100%;
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
}

.help_container{
    min-width: 900px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.help_container>span>a{
    padding: 15px 15px;
    text-decoration: none;
    color: white;
    background-color: #000000a6;
    font-size: 12px;
    font-weight: 700;
}

.help_container>span>a:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.help_container>span:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;
}


footer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--second-color);
}

.footer_container{
    max-width: 900px;
    height: 100%;
}

.foot_top{
    height: 150px;
    width: 100%;
    display: flex;
}

.foot_top>ul{
    display: flex;
    gap: 30px;
}

.foot_top>ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    gap: 10px;
    cursor: pointer;
}

.foot_top>ul>li>span>i{
    font-size: 36px;
    color: var(--third-color);
}

.foot_center{
    height: 380px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot_center_left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left_Contact{
    display: flex;
    gap: 15px;
    align-items: center;
}

.title_box{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
}

.title_box>span:nth-child(1){
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--third-color);
}

.icon_box{
    height: 45px;
    width: 45px;
    font-size: 18px;
    color: #fff;
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot_center>ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #fff;
    font-weight: 300;
}

.foot_center>ul>li{
    list-style: none;
    font-size: 13px;
    cursor: pointer;
}

.foot_center>ul>li:hover{
    color: #fff;
    font-weight: 400;
}

.foot_center>ul>li:nth-child(1){
    font-size: 14px;
    color: #FF7270;
    font-weight: 400;
}

.foot_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 70px;
}

.foot_bottom>img{
    width: 150px;
}

.foot_bottom>span:nth-child(2){
    font-size: 12px;
    font-weight: 300;
}

.foot_bottom>span:nth-child(3){
    font-size: 14px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}